target
bin
*.xcodeproj
*.pbxproj
ant.*
dist
.DS_Store

Frameworks/Misc/WOJRebel/manifest.mf

Applications/BugTracker/BugTracker (create).launch

Applications/BugTracker/BugTracker (create without drop).launch
